body {
    font-family: sans-serif;
    background-color: white;
    color: #000000;
}


header {
    margin-top: 5vh;
    text-align: center;
}


main {
    margin-top: 5vh;
}

h1 {
    color: #000080;
    font-size: 2.5em;
}


button{
    background-color: #000080;
    color: white;
    border: 2px solid #000080;
    border-radius: 7px;
    margin: 0 10px;
}

button:active {
    background-color:white;
    color:#337ab7;
}

#controls {
    padding-top:5vh;
    text-align:center;

}

#controls .row {
    padding: 1vh 0;
    /*font-size:.75em;*/
}


#main-buttons {
    font-size:1.5em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#startButton {
    font-size: 1.5em;
}

#main-buttons .slider {
    font-size:.75em;
}

#grid {
    /*clear:both;*/
    background-color: white;
    margin: 0px auto;
    height: 90vh;
    max-width: 90%;
    padding: 2px;
    border: 5px solid #000080;

}

.grid-row {
    /*border: 1px solid red;*/
    overflow: auto;
}

.cell {
    margin: 0px;
    padding: 0px;
    /*width: 50px;*/
    /*height: 100%;*/
    /*border: 1px solid black;*/
    float:left;
}

.alive{
	background-color: #000000;
}

ul.ul-ul-custom {
	list-style-type: square;
}
ul.ul-li-custom {
	color: #FFFFFF;
}
ul.ul-li-custom :nth-child(odd) {
	color: #000000;
}
.pgclr {
	background-color: #00aaff;
	border-radius: 5px;
}